/node_modules
/public/hot
/public/storage


/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log

/public/storage
/story_picture
/storage/logs/
/storagestory_media
./html/vendor
/storage/logs/
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
