<style type="text/css">
    .form-inline.error{
        border:1px solid red;
    }
    img.loader{
        width:20px !important;
    }
</style>
 <div class="right">
    <h3>Get a reset link emailed to you...</h3>
    <div class="row">
        <form name="form"  class="form-inline" ng-submit="forgotpwd()" novalidate>
            <div class="col-xs-12 col-sm-12 col-md-8">
                
                <div class="form-group log_form forgot_passwrd">
                    <input type="text" ng-class="requiredEmail?'error':''" ng-model="forgotPwdForm.email" name="email" class="form-control" id="exampleInputName2" placeholder="Email Address">
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <button class="btn-block signup_btn thakkad"  type="submit"> CONTINUE<span class="forgot_loader">  <img class="loader" ng-show="loader" src="../../assets/images/reload.gif"></span>
              </button>
            </div>
        </form>
    </div>
</div>
<script type="text/ng-template" id="custom_template.html">
    <div class="ui-notification custom-template">
        <div class="message" ng-bind-html="message"></div>
        <div class="message">
            <ul>
                <span ng-repeat="error in errors">
                    <li ng-repeat="err in error">{{err}}</li>
                </span>
            </ul>
        </div>
    </div>
</script>
