
<div class="no-padding">
	<div class="event_banner">
		<div class="col-sm-12"><h1>Create New Story </h1></div>
	</div>
</div>
<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 white_bg fame">
	<div class="create_newevent">
		<div >
			<div class="form_box">
			<form ng-submit="createStory()" novalidate>
				<p>
					<label class="required">Story title</label>
					<input placeholder="Enter Story Name" ng-class="err['story_title']?'error':''" class="form-control" required type="text" ng-model="storyForm.story_title" >
				</p>
				<p>
					<label>Story Description</label>
					<textarea placeholder="Enter Description" rows="2" cols="2" class="form-control" ng-class="err['story_details']?'error':''" ng-model="storyForm.story_details" ></textarea>
				</p>
		
				<div class="box">
			
					<div class="box__input drag_text">
						<div  ngf-drop="" ngf-select=""  class="drop-box" 
		                    ngf-drag-over-class="dragover"  ngf-allow-dir="true" accept="image/png,image/jpg,image/jpeg" 
		                    ngf-pattern="image/png,image/jpg,image/jpeg" name="story_picture" ng-model="storyForm.story_picture" ng-change="select_image($file,storyForm.story_picture)">
		                    <div id="dropImg" data-hover-title="Drop Image Here" data-title="Click to Upload Story Images" ng-hide="storyForm.story_picture">
		                        Drop Image here or click to upload
		                    </div>
		                    <img width="100%" height="100%" ng-show="storyForm.story_picture" ngf-src="storyForm.story_picture"></img>
		                </div>
		                <i class="fa fa-times edit-page-cross-icon" ng-if="storyForm.story_picture" title="Remove Image"  ng-click="remove_image(storyForm.id)" aria-hidden="true"></i>
		                <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>  
					</div>
				</div>
				<div class="pack">
					<div class="button_package">
						<button onclick="window.history.back()" class="btn adda" type="reset">Cancel</button>
						<button class="btn moo_btn" type="submit" ng-disabled="loader"><img class="loader" ng-show="loader" src="./imgs/reload-c0a215.gif">Continue</button>
					</div>
					
				</div>
			</form>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>
</div>
<script type="text/ng-template" id="custom_template.html">
    <div class="ui-notification custom-template">
        <div class="message" ng-bind-html="message"></div>
        <div class="message">
            <ul>
                <span ng-repeat="error in errors">
                    <li ng-repeat="err in error">{{err}}</li>
                </span>
            </ul>
        </div>
    </div>
</script>
