<div class="bg">
<div class="container paddXsZ">
<div class="rota">
	<div class="plak">
    	<div class="col-xs-12 col-sm-2 col-md-2">
        	<a class="navbar-brand navOnHead" ui-sref="index"><img src="./imgs/event_img-5b1d70.png" class="img-responsive" alt=""></a>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-7 ">
        </div>
        <div class="col-xs-6 col-sm-1 col-md-1">
        	<div class="loginSReg">
                <a ui-sref="public.login">Log in</a> 			
            </div>
        </div>	
        <div class="col-xs-6 col-sm-1 col-md-1">
        	<div class="loginSReg">
               <a ui-sref="public.signup">Register</a> 		
            </div>
        </div>
    </div>
	<div class="col-md-12 col-sm-12 col-xs-12 paddingZ ">
		<div class=" paddingZ bottomp">
			<div class="col-md-12 col-sm-12 col-xs-12 privacy">
				
					<h1><strong>CLIPCROWD PRIVACY POLICY</strong></h1>
					<p>Clipcrowd Limited (<strong>"we"</strong> or <strong>"us"</strong>) are committed to protecting and respecting your privacy.</p>
					<p>We collect, store and use information in accordance with the Data Protection Act 1998 (the "DPA") 
					and all other relevant legislation and regulations.
					<p>This policy sets out details of how we process data in relation to you. Some of the data we process
					will be personal data, which relates to and identifies you. Other data will be anonymous data. Please
					read this policy carefully to understand how we process both sorts of data.</p>
					<p>For the purposes of the DPA, we are the data controller of any personal data we process about you.
					All changes to this policy will be posted here. You should visit this page regulatory to stay up to date.</p>
					<h1><strong>INFORMATION WE MAY HOLD ABOUT YOU</strong> </h1>
					<p>We may collect and process the following data about you: </p>
					<ul> 
						<li>Information you provide when you fill informs on our website at www.getclipcrowd.com (<strong>"our
						site"</strong>), including information you provide when you apply for a Clipcrowd Account</li>
						<li>Information you provide when you download our mobile application (the <strong>"app"</strong>)
						</li> <li> Information held about you in your social media accounts (such as your Facebook account)
						and which you give us access to by providing us with your account credentials for those
						accounts</li>
						<li> Information you upload or post to the website</li> <li>Copies of correspondence you send to us </li>
						<li> Your responses to surveys we ask you to complete</li>
						<li>Details of any transactions you carry out on or through our site</li>
						<li>Details of your visits to our site (including traffic data and data in relation to the resources you
						access)</li>
						<li>Information that we collect about your computer, including its IP address.</li>
					</ul>
					<p>You are not under any obligation to provide us with personal information but you acknowledge and
					agree that refusal to provide this information might prevent you from using certain aspects of our
					services. </p>
					<h1>HOW WE USE YOUR INFORMATION</h1>
					<p>We use information held about you to:</p>

					<p>Ensure the content of our site is presented in the best way for you and your computer
					Respond to your requests for information and support on the use of our services
					Provide you with information about products or services that you request or which we
					consider may be of interest (subject to the following section of this policy)
					Perform our obligations under contracts between you and us
					Allow you to use the various features of our services
					Allow third parties to contact you about goods or services you might be interested in (subject
					to the following section of this policy)</p>
					<h1>MARKETING COMMUNICATIONS</h1>
					<p>We will only send you marketing communications by electronic means (e-mail or text) if those
					communications relates to goods and services which are similar to those that you have previously
					purchased or expressed an interest in or if you have consented to us contacting you in this way. We
					will only permit third parties to send you marketing communications by electronic means if you have
					consented to this.
					You have the right to ask us not to use your information for marketing purposes or passing it on to
					third parties for them to use for marketing purposes. You can do this by ticking the relevant box on
					the form on which we collect your contact details or contacting us by email atsupport@getclipcrowd.com or by post to Clipcrowd Limited, Flat 5, 129 Battersea Rise, London,
					SW11 1HE<p>
					<h1>STATISTICAL INFORMATION</h1>
					<p>We may aggregate information about you with information about other users of our site to create
					statistical data about users. This is statistical data that does not identify you and we may distribute
					any such aggregate information to third parties we work with.</p>
					<h1>SHARING YOUR PERSONAL INFORMATION</h1>
					<p>We will only share personal information that we hold about you to third parties:

					Who are companies within our group of companies
					With whom you ask us to share that information
					Who provide services to us in connection with our site
					To whom we sell or intend to sell any of our business or assets
					If we are legally obliged to disclose the information
					Where you have made that information public by posting or uploading it on or to the public
					areas of our site</p>
					<h1>COOKIES</h1>
					<p>Cookies are small files placed on your device when you visit our site. We use cookies to recognise
					you and your preferences, improve the performance of our site and to create statistical data.<p
					<p>Cookies generally fall into one of the following categories:<p>
							<p>Strictly necessary cookies which are cookies that are essential to allow you to use a website
							and its features
							Performance cookies which collect information about how visitors use a website to create
							aggregated, anonymous information that does not identify the visitor
							Functionality Cookies which allow the website to remember you and provide a more
							personalised service
							Targeting or advertising cookies which are used to deliver adverts relevant to you
							Our site uses the following types of cookies: [strictly necessary cookies], [performance cookies],
							[functionality cookies] and [targeting or advertising cookies].
							[Our cookies only remain on your device for a single browsing session OR some of our cookies
							remain on your device between our browsing session].
							You can disable our cookies by changing the settings on your browser but doing so might mean you
							are unable to use certain features of our site.<p>
					<h1>WHERE WE STORE YOUR DATA</h1>
					<p>Data we collect from you may be transferred to and stored in destinations outside the European
					Economic Area and may be processed by staff operating outside the European Economic Area. By
					submitting your data you agree to this transfer, storage and processing.</p>
					<h1>SECURITYM</h1>
					<p>We will take all steps reasonably necessary to keep your data secure. You should be aware that
					transmission of information via the internet is not entirely secure and we cannot guarantee the
					security of any data you transmit to our site via the internet.
					You should take steps to keep your data secure protecting the password and other account
					credentials for your Clipcrowd Account and any other account via which your access our site or our
					services.
					CHILDRENClipcrowd does not knowingly provide its services to anyone under the age of 14 or collect any
					personal information in relation to anyone such person. By registering to use our services or
					downloading the App you warrant that you are aged 14 or over. You must not use our site or the App
					to upload, post or transmit any information that relates to and identifies any person under the age of
					14.
					If we become aware of any personal information in relation to a person under the age of 14 which has
					been uploaded, posted or transmitted to, on or via our site or our app, we may delete any such
					information without liability to you.</p>
					<h1>ACCESS TO INFORMATION</h1>
					<p>You have a right under the DPA to access information we hold about you. Your right can be accessed
					in accordance with the DPA and may be subject to you paying us a fee of £10 to meet our costs of
					complying with your request.</p>
					<h1>CONTACTING US</h1>
					<p>Questions or comments on this policy can be sent to us by email at support@getclipcrowd.com or by
					post to Clipcrowd Limited, 6-10 Dunston Street, London E8 4EB.</p>
				</div>
				
			
			<!-- <div class="col-md-12 col-sm-12 col-xs-12 playpause">			
				<ul>
					<li><a href="#" ><i class="fa fa-pause "></i></a></li>
					<li><a href="#"><i class="fa fa-microphone-slash "></i></a></li>
					<li><a href="#"><i class="fa fa-repeat "></i></a></li>
				</ul>
			</div> -->
			
		</div>
		
    </div>
	
    
</div>
</div>
</div>