
 <div class="right">
    <h3>Reset Password</h3>
    <div class="row">
        <form name="form"  class="form-inline" ng-submit="resetPwd()" novalidate>
            <div class="col-xs-12 col-sm-12 col-md-12">
                
                <div class="form-group log_form forgot_passwrd">
                    <input type="password" ng-class="requiredEmail?'error':''" ng-model="resetForm.password" name="password" class="form-control" id="exampleInputName2" placeholder="Password">
                </div>
                <div class="form-group log_form forgot_passwrd">
                    <input type="password" ng-class="requiredEmail?'error':''" ng-model="resetForm.password_confirmation" name="password_confirmation" class="form-control" id="exampleInputName2" placeholder="Confirm Password">
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-12 col-md-12">
                <button class="btn-block signup_btn thakkad"  type="submit">CONTINUE <span class="reset_loader"> 
                <img class="loader" ng-show="loader" src="./imgs/reload-c0a215.gif"> </span> </button>
            </div>
        </form>
    </div>
</div>
