<div class="bg">
<div class="container paddXsZ">
<div class="rota">
	<div class="plak">
    	<div class="col-xs-12 col-sm-2 col-md-2">
        	<a class="navbar-brand navOnHead" ui-sref="index"><img src="./imgs/event_img-5b1d70.png" class="img-responsive" alt=""></a>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-7 ">
        </div>
       <div class="col-xs-6 col-sm-1 col-md-1">
        	<div class="loginSReg">
                <a ui-sref="public.login">Log in</a> 			
            </div>
        </div>	
        <div class="col-xs-6 col-sm-1 col-md-1">
        	<div class="loginSReg">
               <a ui-sref="public.signup">Register</a> 		
            </div>
        </div>
    </div>
	<div class="col-md-12 col-sm-12 col-xs-12 paddingZ ">
		<div class=" paddingZ bottomp">
			<div class="col-md-12 col-sm-12 col-xs-12 privacy">
				
					<h1><strong>CLIPCROWD TERMS OF USE </strong></h1>
					<p>This terms of use (together with the documents referred to in them) tell you the terms of use
					on which you may make use of our website www.getclipcrowd.com (<strong>"our site"</strong>), our mobile
					application (the <strong>"app"</strong>) and any products or services that we provide via or in connection with
					our site or the app (together <strong>"our services"</strong>).</p> <br>
					<p>Use of our site includes accessing, browsing, or registering to use our site and setting up an
					account for our site (a<strong> "Clipcrowd Account"</strong>). Use of our app includes downloading the app.</p> <br><p>Please read these terms of use carefully before you start to use our services. We recommend
					that you print a copy of this for future reference. By using our services, you confirm that you
					accept these terms of use and that will comply with them. If you do not agree to these terms
					of use, you must not use our services.  </p>
					<h1><strong>OTHER APPLICABLE TERMS  </strong> </h1>
					<p>These terms of use refer to our privacy and cookies policy www.getclipcrowd.com/assets/
					pdfs/policy.pdf, which also applies to your use of our site and the app. If you download our
					app from an Appstore opera </p>
					<h1><strong>ABOUT US </strong></h1>
					<p>www.getclipcrowd.com is a site operated by Clipcrowd Limited ("we" or "us"). We are
					registered in England and Wales under company number 08958512 and have our registered office at 6-10 Dunston Street, London E8 4EB, which is also our main trading address. Our VAT number is 210 7926 27.</p>
					<h1><strong>ABOUT YOU</strong></h1>
					<p>If you are using our services on behalf of an organisation of which you are an employee,
					officer, agent or other contractor, that organisation will be responsible for ensuring compliance
					with these terms of use by you and any other person who uses our services on the organisation's behalf. You confirm that you have the authority to accept such responsibility on behalf of your organisation.
					By using our services, you represent and warrant that you are aged 14 or over and that if you
					are not at least 18 years old, your parent or legal guardian has been made aware of and
					confirmed their approval of these terms of use. </p>



					<h1><strong>CHANGE TO THESE TERMS AND OUR SERVICES</strong> </h1>
					<p>We may revise these terms of use at any time by amending this page. Please check this
					page from time to time to take notice of any changes we made, as they are binding on you.
					We may change our services from time to time. However, please note that any of the content
					on our site may be out of date at any given time, and we are under no obligation to update it.</p>
					<h1> <strong>ACCESSING OUR SERVICES</strong> </h1>
					<p>Our services are currently provided free of charge. However, we reserve the right to charge
					for our services in future. If we do decide to impose charges in future, we will notify you using
					the contact details provided by you to us and you will be entitled to choose whether or not to
					continue to use our services at the applicable charge.<br> 
					We do not guarantee that our services will always be available or be uninterrupted or free
					from errors. Access to our services is permitted on a temporary basis. We may suspend,
					withdraw, discontinue or change all or any part of our services without notice. We will not be
					liable to you if for any reason our services unavailable at any time or for any period. <br>
					You are responsible for making all arrangements necessary for you to have access our
					services. You are also responsible for ensuring that all persons who access our services
					through your internet connection or using a device owned or controlled by you are aware of
					and comply with these terms of use and other applicable terms and conditions.</p>
					<h1><strong>ACCOUNTS AND PASSWORDS</strong> </h1>
					<p>If you choose, or you are provided with, a user identification code, password or any other
					piece of information as part of our security procedures, you must treat such information as
					confidential. You must not disclose it to any third party.<br>
					We have the right to disable any user identification code or password, whether chosen by you
					or allocated by us, at any time, if in our reasonable opinion you have failed to comply with any
					of the provisions of these terms of use.<br> 
					If you know or suspect that anyone other than you knows your user identification code or
					password, you must promptly notify us at support@getclipcrowd.com.</p>
					<h1> <strong>WHAT ARE YOUR RIGHTS IN CLIPCROWD?</strong> </h1>
					<p>We are the owner or the licensee of all intellectual property rights in our services, including
					any all text, data, graphics, images and illustrations on our site and on the app (together the
					<strong>"Content"</strong>). The Content is protected by copyright laws and treaties around the world. All
					such rights are reserved.
					In consideration of you agreeing to comply with these terms of use, we grant you a nontransferable,
					non-exclusive licence to use our services, including the Content, for your
					personal purposes and in accordance with these terms. We reserve all other rights.<br>
					You may print off one copy, and may download extracts, of any page(s) from our site for your
					personal use. Our status (and that of any identified contributors) as the authors of the Content
					must always be acknowledged.<br>
					If you print off, copy or download any Content in breach of these terms of use, your right to
					use our site will cease immediately and you must, at our option, return or destroy any copies
					of the materials you have made. </p>
					<h1> <strong>RESTRICTIONS ON USE </strong><h1>
						<h1 style="text-align: left;">  You must not: </h1>
						 <ul>
						<li>Modify the copies of any Content have printed off or downloaded in any way;</li>
						<li>Copy the app except where such copying is incidental to normal use of the app or necessary for the purpose of back-up;</li>
						<li>Use our services in any way that would violate our rights or the rights of a third party</li>
						<li>Rent, lease, sub-licence, loan, adapt, vary or modify the app or permit the app or any part of it to be combined with or become incorporated in any or programs</li>
						<li>Disassemble, decompile, reverse-engineer or create derivative works based on the whole or any part of the app or attempt to do any such thing except and to the extent that such actions cannot lawfully be prohibited
						</li>
						<li> Use our services in any way that is likely to offend, harras, defame or violate the privacy
						of any person
						</li>
						<li> Use our services in any unlawful manner or for any unlawful purpose
						</li>
						<li> Use the app, our site or the services in any way that could damage, disable,overburden, impair or compromise our systems or security or interfere with other users;
						</li>
						<li>Collect or harvest information or data from our services or our systems or attempt to decipher any transmissions to or from the servers running our services </ul>
							<h1><strong>RELIANCE ON INFORMATION</strong> </h1>
							<p>
						The Content is provided for general information only. It is not intended to amount to advice on
						which you should rely. You must obtain professional or specialist advice before taking, or
						refraining from, any action on the basis of the Content. We make no representations,
						warranties or guarantees, whether express or implied, that the Content is accurate, complete
						or up-to-date.</p>
						<h1> <strong>LIMITATION ON OUR LIABILITY</strong> </h1>
						<p>Nothing in these terms of use excludes or limits our liability for death or personal injury arising
						from our negligence, or our fraud or fraudulent misrepresentation, or any other liability that cannot be excluded or limited by English law.
						To the extent permitted by law, we exclude all conditions, warranties, representations or other terms which may apply to our services, including the Content, whether express or implied. <br>
						We will not be liable to you for any loss or damage, whether in contract, tort (including negligence), breach of statutory duty, or otherwise, even if foreseeable, arising under or in connection with your use of, or inability to use our services or your reliance on the Content. </p>
						<h1 style="text-align: left">We will not be liable to you for:</h1> 
						<ul> <li>loss of profits, sales, business, or revenue;</li> <li>business interruption;</li> <li>loss of anticipated savings;</li> <li>loss of business opportunity, goodwill or reputation; or</li> <li>any indirect or consequential loss or damage. <li><ul>
						<h1><strong>UPLOADING OR POSTING CONTENT</strong></h1>
						<p>
						Whenever you upload, transmit or post content to, via or on our site or the app, or to make contact with other users of our services, you must comply with the content standards set out in these terms of use.<br>
						Any content uploaded or posted by you (your "User Submissions") must be accurate (where it states facts), be genuinely held (where it states opinions) and comply with applicable law in the UK and any other country from which it is sent.</p>
						<h1 style="text-align:left">Your User Submissions must not:</h1><ul><li> be defamatory, deceptive or misleading, obscene, offensive, sexually explicit, hateful or inflammatory or likely to harass, upset, embarrass, alarm or annoy any other person or invade any person's privacy;</li><li> promote discrimination on race, sex, religion, nationality, disability, sexual orientation or age, sexually explicit material, violence or any illegal activity;</li><li> infringe any copyright, database right or trade mark of any person;</li>
						<li>breach any legal duty owed to a third party, such as a contractual duty or a duty of confidence;</li>
						<li>give the impression that it emanates from us, if this is not the case; or
						</li><li> assist any unlawful act.</li></ul>
						<br>
						<p>You warrant that your User Submissions will comply with the standards set out in these terms
						and you will be liable to us for and indemnify us against any breach of that warranty.</p>
						<h1> <strong>WHAT RIGHTS DO YOU GRANT TO CLIPCROWD AND OTHER USERS?</strong> </h1>
						<p>Certain features of our site or the app may allow you to post, upload or transmit the following
						different types of User Submission:
						· User Submissions which are accessible to all users of our services ("Public User
						Submissions") ;
						· User Submissions which will be accessible only to you (a "Private User Submission");
						and
						· User Submissions should only be accessible to other users of our services identifiedby
						you ("Limited Audience User Submissions").
						Subject to the restrictions set out below, you grant the following royalty free, perpetual, nonexclusive
						licences in relation to your User Submissions:
						· a licence for us to use all of your User Submissions for all purposes in connection with
						our business
						· a licence for all other users of our site, the app or the services to use any of your
						Public User Submissions for all purposes in connection with their use of our services
						· a licence for those users named by you to use your Limited Audience User
						<p>Submissions for all purposes in connection with their use of our services
						Where you upload or post Public User Submissions in connection with a public event which is
						promoted on Clipcrowd, you agree that we can share those Public User Submission with the
						organiser of the event. You also agree that the organiser may display those Public User
						Submission on its website and social media pages.
						We will not share your Private User Submissions with other users of our services and will only
						share your Limited Audience User Submissions with those users identified by you.<br>
						We may disclose your identity to any third party who is claiming that any of your User
						Submissions constitutes a violation of their intellectual property rights, or of their right to
						privacy.
						We may also remove all or any of your User Submissions if, in our opinion, they do not
						comply with these terms of use.</p>
						<h1> <strong>REPOSNIBILITY FOR USER SUBMISSIONS</strong></h1>
						<p>You are responsible for ensuring that your User Submissions comply with the requirements of
						these terms of use and with all legal and regulatory requirements.
						We have no control over and will not be liable in relation to User Submissions submitted by
						other users of our services or in relation to how other users use your User Submissions.<br>
						We will not be responsible to you in relation to any dealings, transactions or interactions you
						have with third parties via or in relation to our services. We will not be required to be involved
						in any dispute between you and another user of our services or between you and any third
						party who becomes known to you as a result of our services.<p>
						<h1> <strong>VIRUSES</strong></h1>
						<p>We do not guarantee that our services will be secure or free from bugs or viruses and will not
						be liable for any loss or damage caused by a virus, distributed denial-of-service attack, or
						other technologically harmful material that may infect your computer equipment, computer
						programs, data or other proprietary material due to your use of our services or to your
						downloading of any Content, or on any website linked to our site. You should use your own
						virus protection software.<br> 
						You must not misuse our services by knowingly introducing viruses, trojans, worms, logic
						bombs or other material which is malicious or technologically harmful. You must not attempt
						to gain unauthorised access to our site, the server on which our site or the app is stored or
						any server, computer or database connected to our services. You must not attack our
						services via a denial-of-service attack or a distributed denial-of service attack.</p>
						<h1> <strong>LINKING TO OUR SITE</strong></h1>
						<p>You may link to our home page, provided you do so in a way that is fair and legal and does
						not damage our reputation or take advantage of it. We reserve the right to withdraw linking
						permission without notice.
						You must not establish a link in such a way as to suggest any form of association, approval or
						endorsement on our part where none exists or establish a link to our site in any website that
						is not owned by you.
						Our site must not be framed on any other site, nor may you create a link to any part of our site
						other than the home page.</p>
						<h1><strong>ENDING YOUR USE OF OUR SERVICES</strong></h1>
						<p>You can stop using our services and may close your Clipcrowd Account at any time by
						notifying us at support@getclipcrowd.com.<br>
						We can also terminate or suspend your access to our services for any reason by giving you
						written notice.<br>
						If your use of our services comes to an end, we may delete any Content associated with your
						Clipcrowd Account, including your User Submissions. Unless you are in breach of these
						terms of use (in which case we can terminate or suspend your access to our services
						immediately) we will try to give you reasonable notice of any intention on our part to end your
						use of our services in order that you can retrieve any important User Submissions stored in
						your Clipcrowd Account.?</p>
						<h1><strong>THIRD PARTY LINKS AND RESOURCES ON OUR SITE</strong></h1>
						<p>Where our site contains links to other sites and resources provided by third parties, these
						links are provided for your information only. We have no control over the contents of those
						sites or resources and assume no responsibility for those contents. Such links should not be
						interpreted as endorsement by us of those linked websites. We will not be liable for any loss
						or damage that may arise from your use of them.</p>
						<p>These terms of use are governed by English law. You and we both agree to that the courts of
						England and Wales will have non-exclusive jurisdiction to deal with any disputes arising in
						relation to your use of our services</p>
						<h1><strong>CONTACT US</strong></h1>
						<p>To contact us, please email us at support@getclipcrowd.com.<br>
						Thank you for using our services </p>
						<br>
						<br>
					
				</div>
			
		</div>
		
    </div>
	
    
</div>
</div>
</div>